*{
  overflow-x: hidden;
}

#Home{
  height: 600px;
}
nav{
  display: flex;
  width: 100%;
  position: relative;
 margin-left: 10%;
}
ul{
  display: flex;
  list-style: none;
  margin-left: 20%;
  width: 100%;
  margin-bottom: 10px;
}
.dropdown{
  display: none;
}
li{
  padding: 0px 20px;
}
/* .logo{
margin-left: 20%;
} */
.navbarimagebox{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  top: 0px;
  position: absolute;
  top: 0px;
  padding: 0px;
  margin: 0px;
}
#navbarimage{
  width:500px;
   height:500px;
   padding: 0px;
   margin: 0px;
}
.HomeContent span{
color: blue;
}
.HomeContent{
  margin-left: 20%;
  margin-top: 13%;
}
.HomeContent h1{
  font-size: 40px;
}
.HomePageButton{
  padding: 10px;
color: white;
background:orange; 
border: none;
outline: none;
border-radius: 20px;
margin-top: 2%; 
}
.container{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  }
  .left{
  flex-basis: 60%;
  max-width: 450px;
  }
  .right{
  flex-basis: 40%;
  text-align: right;
  }
  .right img{
  width: 70%;
  }
  
  .left h1{
  font-weight: 400%;
  font-size: 16px;
  font-family: sans-serif;
  }
  .left span{
  color: orange; 
  }
  .p-header{
  margin-top: 10px;
  }
  .left h1{
  font-size: 50px;
  }
  .left span{
  color:orange; 
  }
  .p-header{
  margin-top: 10px;
  }
  .p-header span{
  color: blue;
  }
  .p-header{
  color: darkgrey;
  }
  .btn{
  padding: 10px;
  color: white;
  background:orange; 
  border: none;
  outline: none;
  border-radius: 20px; 
  }
  #blog{
  padding: 100px 50px;
  }
  .row{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; 
  margin-top: 20%;
  }
  .row{
  flex-basis: 15%;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  .row p{
  text-align: center;
  }
  .row-1{
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
  }
  .row-2{
    text-align: center;
  }
  .row-3{
    text-align: center;
  }

  .first{
    size-adjust: auto;
    justify-content: center;
    text-align: left;
    }
    .banner-image-table,.banner-image{
      margin-top: -200px;
      margin-left: 165px;
      }
   
      .p-header{
      margin-top: 40px;
      }
      .paragraph{
      padding-top: 300px;
      }
      .paragraph span{
      color: orange;
      }
      .list-about p{
      padding-left:130px ;
      margin-top: -90px;
      }
      .list-about{
      margin-top: 350px;
      margin-left: -20%;
      }
      .listright{
        margin-left: 10%;
      }
      .list-about-background{
      background-image: url("left-bg-decor.png");
      background-repeat: no-repeat;
      width: 100%;
      margin-left: -7%;
      background-size: 50% 100%;   
      }
      .footer-content{
        background-image: url("footer-bg.png");
        background-size: 100% 100%;
        width: 100%;
        height: 500px;
        
        }
        .footer-content Table {   
        height: 700 px;
        width: 700px;
        }
        .footer-content td{
        padding-left: 40px;
        padding-right:40px ;
        padding-top: 150px;
        }
        .footer-content input{
        margin-top: 10px;
        }
        .center{
        text-align: center;
        margin-top: 100px;
        }
        .center span{
        color: orange;
        }
        .center p{
        color: darkgray;
        }
        .pic{
        text-align: center;
        
        }
        .footer-content span{
        color: orange;
        }
        .footer-content{
        font-family:fantasy copperplate ;
        }
        .pic1{
        margin-left: 350px;
        margin-top: 200px;
        }
        .pic2{
        margin-right: 550px;
        margin-top: -130px;
        }
        .flex-container{
        display: flex;
        }
        .fitem{
        background-color: #ff5349;
        width: 500px;
        height: 250px;
        padding: 20px;
        padding-bottom: 50px;
        /*margin-left: 400px;*/
        /*margin-top: -40px;*/
        }
        .fitems{
        background-color: #ff5349;
        width: 600px;
        height: 250px;
        padding: 20px;
        margin-right: 240px;
        margin-left: 200px;
        margin-bottom: 150px;
        margin-top: -40px;
        text-align: center;
        }
        .footer-content button{
          padding: 10px;
          color: white;
          background:orange; 
          border: none;
          outline: none;
          border-radius: 20px; 
          align-items: center;
          margin-top: 10%;
        }
        .footer-content input{
          border-radius: 20px;
          outline-style: none;
          border-radius: 10%;
          color: black;
        }


      